# 2018-12-22 (cc) <paul4hough@gmail.com> -*- yaml -*-
#
---
groups:
  - name: exporters
    rules:
      - alert: exporter-down
        expr: up == 0
        for: 15s
        labels:
          {% raw -%}
          ansible: exporter-{{ $labels.job }}
        {% endraw -%}
        annotations:
          {% raw -%}
          description: "{{ $labels.job }} is down"
          {%-  endraw %}
