# 2019-01-08 (cc) <paul4hough@gmail.com>  -*- yaml -*-
#
---
global:
  listen: ":{{ port_agate }}"
  data-age: 5
  scripts-dir: "{{ remed_dir }}/scripts"
  playbook-dir: "{{ remed_dir }}/playbook"
ticket-sys:
  close-resolved: true
  systems:
    mock:
      url: http://localhost:{{ port_mock_ticket }}/ticket
