/* 2018-12-23 (cc) <paul4hough@gmail.com> -*- sql -*-
   grant postgres_exporter read access to system tables
*/
CREATE USER {{ pgexp_pg_user }} PASSWORD '{{ pgexp_pg_pass }}';
ALTER USER {{ pgexp_pg_user }} SET SEARCH_PATH TO {{ pgexp_pg_user }},pg_catalog;

CREATE SCHEMA {{ pgexp_pg_user }} AUTHORIZATION {{ pgexp_pg_user }};

CREATE VIEW {{ pgexp_pg_user }}.pg_stat_activity
AS
  SELECT * from pg_catalog.pg_stat_activity;

GRANT SELECT ON {{ pgexp_pg_user }}.pg_stat_activity TO {{ pgexp_pg_user }};

CREATE VIEW {{ pgexp_pg_user }}.pg_stat_replication AS
  SELECT * from pg_catalog.pg_stat_replication;

GRANT SELECT ON {{ pgexp_pg_user }}.pg_stat_replication TO {{ pgexp_pg_user }};
